<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/catalog.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/adress.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/information.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/callback.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.modal.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/personal.css')}}">
	<title>Бар крафтового пива</title>
</head>
<body>
	<header>
		<div class="logo__wrapper">
		  <a href="{{url_for('index')}}"><img src="{{ url_for('static', filename='img/lenin.png') }}"></a>
		</div>
	  <div class="container navigation">
	    <h1 class="title">Бар крафтового пива <br> им. Владимира Ульянова</h1>
	    <div class="nav-input-wrapper">
	      <input
	        type="text"
	        name="navigation"
	        class="nav-input"
	        placeholder="Поиск..." />
	    </div>
	           
	  </div>
	</header>
	<div class="nav-bar">
	      <div class="nav-wrapper">
	        <ul class="nav">
	          <li class="first-card">
	            <a href="#" class="nav-button" id="button1">каталог</a>
	          </li>
	          <li class="second-card">
                <a href="#" class="nav-button">Аренда бара</a>
              </li>
              <li class="third-card">
                <a href="#" class="nav-button">Выездные дегустации</a>
              </li>

	          {% if not session['isAuth'] %}
	          <li class="fourth-card">
	            <a href="{{url_for('login')}}" class="nav-button">Войти</a>
	          </li>
	          <li class="fifth-card">
	            <a href="{{url_for('registry')}}" class="nav-button" id="button__registry">Регистрация</a>
	          </li>
	          {% else %}
	          <div class="first-card-wrapper">
		          <li class="fourth-card">
		            <a href="#" class="nav-button">Личный кабинет</a>
		          </li>
	          </div>
	          <li class="fifth-card">
	            <a href="{{url_for('logout')}}" class="nav-button">Выйти</a>
	          </li>
	          {% endif %}
	        </ul>
	      </div>
	    </div>

	<div class="catalog" id="catalog" style="display: none">
	  
	  <div class="catalog-title-wrapper">
	    <h1 class="catalog-title">Каталог</h1>
	  </div>
	  <div class="modal-wrapper" id="catalog-wrapper">
	    {% for item in Category%}
	    <div class="catalog-card">
	      <div class="image-wrapper">
	        <img src="data:jpeg;base64,{{ item }}" alt="" />
	      </div>
	      <div class="text-wrapper">
	        <a href="{{url_for('catalog', category=item.id)}}" class="catalog-title">
	            {{ item.name }}
	        </a>
	      </div>
	    </div>
	    {%endfor%}
	  </div>
	</div>


	<seciton class="personal">
		<div class="personal__wrapper">
			<div class="personal__avatar__wrapper">
				<img class="personal__avatar" src="data:jpeg;base64,{{user}}" alt="Изображение не доступно">
				<form class="personal__avatar__update" action="avatar-update" method="POST" enctype="multipart/form-data">
					<label class="input__file">
						<span class="input__file__text" type='text'></span>
						<input type="file" name="avatar">
						<span class="input__file__button">Выберете файл</span>
					</label>
					<button>Обновить</button>
				</form>
			</div>
			<div class="personal__data__wrapper">
				<form class="personal__data__update">
					<h1>Персональные данные</h1>
					<input type="text" name="login" placeholder="Логин" value="{{user.login}}">
					<input type="email" name="email" placeholder="E-mail" value="{{user.email}}">
					<input type="tel" name="phone" placeholder="Телефон" value="{{user.phone}}">
					<button>Обновить</button>
				</form>
				<form class="personal__password__update">
					<h1>Пароль</h1>
					<input type="password" name="password" placeholder="Пароль">
					<input type="password" name="re-password" placeholder="Повторите пароль">
					<button>Обновить</button>
				</form>
			</div>
		</div>
	</seciton>
	<footer>
	  <div class="container contacts">
	    <ul class="contact">
	      <li class="mail"><span>E-mail@gmail.com</span></li>
	      <li class="number"><span>8-800-666-35-35</span></li>
	    </ul>
	  </div>
	</footer>

	<script src="{{ url_for('static', filename='js/jquery-min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.modal.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/modal.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/personal.js') }}"></script>
</body>
</html>